.Container {
  .carrouselContainer {
    .arrow {
      color: black;
      margin-left: 7%;
      margin-right: 7%;
      cursor: pointer;
      &:hover {
        color: white;
      }
    }
    .carrousel {
      color: var(--debug-2);
      overflow: hidden;
      min-width: 80%;
      min-height: 50%;

      transition: transform 1s ease; /* Use transform for smoother transitions */
      display: flex; /* Make sure images are displayed in a row */
      img {
        height: 40%;
        margin-left: 1%;
        margin-right: 1%;
      }
      .minor {
        height: 20%;
        cursor: pointer;
        &:hover {
          outline: solid darkblue;
        }
      }
      .nextToSelected {
        position: relative;
        height: 40%;
        right: 22%;
        transition-property: right, height;
        transition-duration: 2s, 0.2s;
      }
      .selectedToPrev {
        position: relative;
        height: 20%;
        right: 22%;
        transition-property: right, height;
        transition-duration: 2s, 0.5s;
      }
      .selectedToNext {
        position: relative;
        height: 20%;
        left: 22%;
        transition-property: left, height;
        transition-duration: 2s, 0.5s;
      }
      .prevToSelected {
        position: relative;
        height: 40%;
        left: 22%;
        transition-property: left, height;
        transition-duration: 2s, 0.2s;
      }
    }
  }
}
.dotsContainer {
  color: var(--debug);
  transition: all 1s ease;
  .dot {
    cursor: pointer;
    color: black;
    margin-right: 1%;
    margin-left: 1%;
    &:hover {
      color: white;
    }
  }
  .dot .desactivated {
    &:hover {
      color: black;
    }
  }
}
